/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* common style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* -----------
hero-section
------------- */

.hero-section{
    display: flex;
    width: 80%;
    margin: 50px auto;
    padding: 40px 40px;
    height: 550px;
    border-radius: 20px;
    background-color: darkslategray;
    animation: hero-animation 6s ease-in-out  1s infinite alternate;
}
.hero-text, .hero-img{
    margin: 20px auto;
    
}
.hero-img > img{
    height: 485px;
    width: 437px;
}
.hero-text{
    margin: 100px auto;
    color: whitesmoke;
}
#title{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 40px;
}
.paragraph{
    font-size: 20px;
    margin-bottom: 50px;
}
.btn{
    text-decoration: none;
    color: whitesmoke;
    background-color: hsl(270, 50%, 40%);
    border-radius: 10px;
    padding: 10px 30px;
}
.btn-match:active{
    background-color: red;
}
/* -----------------
sports-match-section
-------------------- */
.sports{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    margin: 50px auto;
    padding: 60px 60px;
}
.match-menu{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 250px;
    height: 250px;
    /* background-color: blueviolet; */
    border-radius: 10px;
}
.match-menu > a {
    width: 70%;
    margin: 15px auto;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    text-decoration: none;
    border: 1px solid lightgray;
    padding: 10px;
    background-color: whitesmoke;
}
.match-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    width: 50%;
}
.match-details{
    margin-left: 10px;
}
.match-item{
    width: 300px;
    height: 350px;
    border: 1px solid lightgray;
    border-radius: 10px;
    transition: 1s;
    cursor: pointer;
}
.match-item:hover{
    transform: scale(1);
    box-shadow: 14px 10px 10px lightgray;
    z-index: 2;
}
.details-para{
    margin-top: 20px;
}
.icon{
    margin-top: 10px;
}
.icon > i{
    justify-content: space-between;
}
.time-com, .time{
    margin-left: 10px;
}
.match-item > img{
    margin-bottom: 20px;
    width: 300px;
}
.btn-match {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 200;
    width: 80%;
    padding: 10px 10px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    background-color: blueviolet;
}
.see-more{
    display: none;
}
/* --------------
footer-section
----------------- */
footer{
    display: flex;
    flex-direction: column;
    height: 300px;
    background-color: darkslategray;
}
.footer-title{
    margin-top: 80px;
    color: white;
    margin-bottom: 50px;
    text-align: center;
}
hr{
    width: 70%;
    margin: 10px auto;
}
.footer-link{
    margin-top: 50px;
    text-align: center;
}
.footer-link > a{
    margin-left: 30px;
    color: white;
    text-decoration: none;
}
/* ---------------------------Pages- Upcoming-match--------------------- */
.match-fixture{
    width: 300px;
    height: 200px;
    border: 1px solid lightgray;
    border-radius: 10px;

}
#large-img{
    width: 100px;
    height: 58px;
}
.match-flag, .match-date{
    justify-items: center;
    margin: 20px 20px;
}
.vs{
    margin: 10px;
}
.match-date{
    text-align: center;
}
.country-name{
    font-size: 20px;
    font-weight: 600;
}
.schedule{
    margin-top: 10px;
}

/* ------------------------------------Responsive-layout------------------------------- */

/* --------------------
medium device layout
----------------------- */
@media screen and (min-width: 577px) and (max-width: 991px) {
    .hero-section{
        height: 700px;
        width: 700px;
    }
    .hero-img{
        margin-top: 175px;
    }
    .sports{
        margin-top: 20px;
        padding: 20px 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .match-menu{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10px;
        width: 700px;
        margin-bottom: 20px;
        height: fit-content;
    }
    .match-menu > a {
        width: 180px;
    }
    .match-card{
        width: 700px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        
    }
    #tab-block{
        display: none;
    }
    .see-more{
        display: contents;
    }
    .see-more > a{
        text-decoration: none;
        text-align: center;
        padding: 10px 10px;
        border-radius: 10px;
        color: white;
        background-color: blueviolet;
    }
    
    .footer-link{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 15px;
    }
}
/* -----------------
Short device layout
-------------------- */
@media screen and (max-width: 576px) {
    .hero-section{
        margin: 10px auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: 915px;
        width: 350px;
        padding-bottom: 0%;
    }
    .hero-text{
        margin: 10px;
    }
    .hero-img{
        margin-top: 53px;
        margin-bottom: 0%;
    }
    .hero-img > img{
        height: 400px;
        width: 300px;
    }
    .sports{
        display: grid;
        margin: 10px auto;
        padding: 10px 35px;
        grid-template-columns: repeat(1, 1fr);
    }
    .match-menu{
        display: flex;
        margin: 10px auto;
        flex-direction: column;
        justify-content: space-evenly;
        height: 230px;
    }
    .match-card{
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    footer{
        height: fit-content;
    }
    .footer-title{
        margin: 30px auto;
    }
    .footer-link{
        margin: 30px auto;
        margin-top: 10px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }
    .footer-link> a{
        margin-top: 10px;
    }
}
/* --------------------Animation--------------- */
@keyframes hero-animation {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1);
    }
}